/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-07-20, 09:28:12
    Author     : rent
*/
body {
  overflow: hidden;
  overflow-y: scroll; }

#wrapper {
  display: inline-block;
  width: 1000px;
  vertical-align: top;
  padding: 20px;
  border: 2px dashed #ccc;
  margin: 10px auto;
  text-align: left; }

.container {
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 2px dashed blue; }

.column, #right-column, #left-column {
  position: relative;
  /*top:60px;*/
  float: left; }

#right-column {
  width: 630px;
  padding-left: 20px;
  background-color: yellow;
  border-left: 2px dashed #ccc;
  margin-left: 20px; }

#left-column {
  left: 0px;
  width: 300px;
  background-color: blueviolet; }

#slidingBox {
  position: absolute;
  top: 100px;
  right: -245px;
  background: black;
  transition-property: right;
  transition-duration: 2s; }
  #slidingBox .label, #slidingBox .content {
    float: left; }
  #slidingBox .label {
    width: 40px;
    height: 100px;
    background: green; }
  #slidingBox .label:hover {
    cursor: pointer;
    background-color: lightseagreen; }
  #slidingBox .content {
    width: 200px;
    min-height: 200px;
    background-color: greenyellow;
    padding: 20px; }

#slidingBox.slide-out {
  right: 0px; }

input .text, input textarea {
  width: 278px;
  height: 28px;
  padding: 0px 10px;
  border: 1px solid #CCC;
  outline: none; }
  input .text :focus, input textarea :focus {
    border: 1px solid #2196F3; }
  input .text .error, input textarea .error {
    color: #FF0000;
    border: 1px solid #FF0000; }
  input .text .valid, input textarea .valid {
    color: #4CAF50;
    border: 1px solid #4CAF50; }
input .button {
  height: 28px;
  padding: 0px 15px;
  font-size: 12px;
  font-weight: 700;
  color: #FFF;
  text-align: center;
  text-transform: uppercase;
  background: #03A9F4;
  border: 1px solid #2196F3; }
  input .button :hover {
    cursor: pointer;
    background: #FFC107;
    border: 1px solid #FF9800; }

textarea {
  min-height: 128px;
  padding: 10px; }

.contactForm {
  padding: 10px; }
  .contactForm .row {
    position: relative;
    float: left;
    clear: both;
    margin-bottom: 10px; }

#menu > ul {
  position: relative;
  list-style: none;
  float: right; }
  #menu > ul li {
    float: left;
    margin-left: 20px; }
    #menu > ul li ul {
      position: absolute;
      top: 30px;
      left: 20px;
      display: none;
      list-style: none;
      background-color: white;
      padding: 10px 30px;
      width: 300px;
      z-index: 100; }
      #menu > ul li ul li {
        float: left;
        margin-bottom: 5px;
        margin-top: 5px; }
  #menu > ul li:nth-child(1) {
    /*margin-left:0px;*/ }

ul.tabs {
  list-style: none;
  display: table;
  float: left;
  width: 100%;
  height: 30px;
  margin: 0px 0px 10px;
  padding: 0px 0px 10px;
  border-bottom: 2px solid #CCC; }
  ul.tabs li {
    display: table-cell;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    background: #FAFAFA;
    border-right: 1px solid #CCC; }
    ul.tabs li a {
      display: block;
      font-weight: 700;
      text-transform: uppercase; }
      ul.tabs li a :hover {
        text-decoration: underline; }
  ul.tabs li:last-child {
    border-right: none; }
  ul.tabs li.active {
    background-color: greenyellow; }

div.tab {
  display: none;
  float: left;
  width: 100%;
  padding: 20px;
  background: #FFF;
  border: 1px solid #CCC;
  box-sizing: border-box; }

div.tab.active {
  display: block; }

div#coursorDisplay {
  display: block; }

#owl-demo .item img {
  display: block;
  width: 100%;
  height: auto; }

#corporate {
  margin-top: 100px; }
  #corporate .gallery-item {
    float: left;
    max-width: 20%;
    height: auto; }
    #corporate .gallery-item a {
      display: 'table';
      width: 100%;
      height: 100px; }
      #corporate .gallery-item a img {
        display: table-cell;
        width: 100%;
        height: 100%;
        text-align: center;
        vertical-align: middle;
        max-width: 80%;
        max-height: 80px; }
    #corporate .gallery-item a:hover {
      opacity: 0.7; }

#owl-example {
  margin-top: 100px; }
  #owl-example .owl-item {
    height: 100px;
    background: #FFF; }
    #owl-example .owl-item .item {
      display: table;
      float: left;
      width: 100%;
      height: 100px; }
      #owl-example .owl-item .item a {
        display: table-cell;
        width: 100%;
        height: 100%;
        text-align: center;
        vertical-align: middle; }
        #owl-example .owl-item .item a img {
          max-width: 80%;
          max-height: 80px; }
      #owl-example .owl-item .item a:hover {
        opacity: 0.7; }

/*# sourceMappingURL=sassStyles.css.map */
