/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-07-18, 11:30:35
    Author     : rent
*/

body{
    overflow: hidden;
    overflow-y:scroll;
}

#left-column{

}
#right-column{
    float:right;

}

#wrapper{
    display: inline-block;
    width:1000px;
    vertical-align: top;
    padding:20px;
    border:2px dashed #ccc;
    margin:10px auto;
    text-align: left;
}

.container{
    position:relative;
    float: left;
    width:100%;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px dashed blue;
}

.column{
    position:relative;
    /*top:60px;*/
    float:left;
}
#left-column{
    left:0px;
    width:300px;
    background-color:azureblue;
}

#right-column{
    /*left:320px;*/
    width:630px;
    padding-left:20px;
    background-color:yellow;
    border-left:2px dashed #ccc;
}

#slidingBox{
    position:absolute;
    top:100px;
    right:-245px;
    background:black;
    transition-property: right;
    transition-duration: 2s;
}

#slidingBox.slide-out{
    right:0px;
}

#slidingBox .label,
#slidingBox .content{
    float:left;
}
#slidingBox .label{
    width:40px;
    height:100px;
    background:green;

}
#slidingBox .label:hover{
    cursor:pointer;
    background-color: lightseagreen;
}
#slidingBox .content{
    width:200px;
    min-height: 200px;
    background-color:greenyellow;
    padding:20px;
}

input.text {
    width: 278px;
    height: 28px;
    padding: 0px 10px;
    border: 1px solid #CCC;
    outline: none;
}

textarea:focus,
input.text:focus {
    border: 1px solid #2196F3;
}

textarea.error,
input.text.error {
    color: #FF0000;
    border: 1px solid #FF0000;
}

textarea.valid,
input.text.valid {
    color: #4CAF50;
    border: 1px solid #4CAF50;
}

textarea {
    width: 278px;
    min-height: 128px;
    padding: 10px;
    border: 1px solid #CCC;
    outline: none;
}

input.button {
    height: 28px;
    padding: 0px 15px;
    font-size: 12px;
    font-weight: 700;
    color: #FFF;
    text-align: center;
    text-transform: uppercase;
    background: #03A9F4;
    border: 1px solid #2196F3;
}

input.button:hover {
    cursor: pointer;
    background: #FFC107;
    border: 1px solid #FF9800;
}

.contactForm {
    padding: 10px;
}

.contactForm .row {
    position: relative;
    float: left;
    clear: both;
    margin-bottom: 10px;
}

#menu {}

#menu > ul {
    list-style: none;
    float: right;
}

#menu > ul li {
    float: left;
    margin-left: 20px;
}

#menu > ul li ul {
    position:absolute;
    display: none;
    list-style: none;
    clear: both;
    background-color: white;
    text-align: center;
    padding:10px 30px;
    z-index:100;
}

#menu > ul li ul li {
    float: left;
    clear: both;
    margin-bottom: 5px;
}
.show{
}

ul.tabs {
    list-style: none;
    display:table;
    float:left;
    width:100%;
    height: 30px;
    margin: 0px 0px 10px;
    padding: 0px 0px 10px;
    border-bottom: 2px solid #CCC;
}

ul.tabs > li{
    display: table-cell;
    height:100%;
    text-align: center;
    vertical-align: middle;
    background: #FAFAFA;
    border-right: 1px solid #CCC;
}

ul.tabs li a {
    display: block;
    font-weight: 700;
    text-transform: uppercase;
}

ul.tabs li a:hover {
    text-decoration: underline;
}

ul.tabs li:last-child {
    border-right: none;
}

ul.tabs li.active {
    background-color:greenyellow;
}

div.tab {
    display: none;
    float: left;
    width: 100%;
    padding: 20px;
    background: #FFF;
    border: 1px solid #CCC;
    box-sizing: border-box;
}

div.tab.active{
    display:block;
}

div#coursorDisplay{
    display:block;
}

#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}