/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-07-20, 09:28:12
    Author     : rent
*/

@mixin tableCell {
    display: table-cell;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}


body{
    overflow: hidden;
    overflow-y:scroll;
}


#wrapper{
    display: inline-block;
    width:1000px;
    vertical-align: top;
    padding:20px;
    border:2px dashed #ccc;
    margin:10px auto;
    text-align: left;
}

.container{
    position:relative;
    float: left;
    width:100%;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px dashed blue;
}

.column{
    position:relative;
    /*top:60px;*/
    float:left;
}

#right-column{
    @extend .column;
    width:630px;
    padding-left:20px;
    background-color:yellow;
    border-left:2px dashed #ccc;
    margin-left:20px;
}

#left-column{
    @extend .column;
    left:0px;
    width:300px;
    background-color:blueviolet;
}
#slidingBox{
    position:absolute;
    top:100px;
    right:-245px;
    background:black;
    transition-property: right;
    transition-duration: 2s;
    .label, .content{
        float:left;
    }
    .label{
        width:40px;
        height:100px;
        background:green;

    }
    .label:hover{
        cursor:pointer;
        background-color: lightseagreen;
    }
    .content{
        width:200px;
        min-height: 200px;
        background-color:greenyellow;
        padding:20px;
    }
}

#slidingBox.slide-out{
    right:0px;
}
@mixin inputError{
    color: #FF0000;
    border: 1px solid #FF0000;
}

@mixin inputValid{
    color: #4CAF50;
    border: 1px solid #4CAF50;
}

@mixin inputFocus{
    border: 1px solid #2196F3;
}
input {
    .text{
        width: 278px;
        height: 28px;
        padding: 0px 10px;
        border: 1px solid #CCC;
        outline: none;

        :focus{
            @include inputFocus;
        }
        .error{
            @include inputError;
        }
        .valid{
            @include inputValid;
        }
    }
    .button{
        height: 28px;
        padding: 0px 15px;
        font-size: 12px;
        font-weight: 700;
        color: #FFF;
        text-align: center;
        text-transform: uppercase;
        background: #03A9F4;
        border: 1px solid #2196F3;

        :hover{
            cursor: pointer;
            background: #FFC107;
            border: 1px solid #FF9800;
        }
    }

}

textarea{
    @extend .text;
    min-height: 128px;
    padding:10px;
}

.contactForm {
    padding: 10px;
    .row {
        position: relative;
        float: left;
        clear: both;
        margin-bottom: 10px; 
    }
}


#menu {
    > ul {
        position:relative;
        list-style: none;
        float: right;
        li {
            float: left;
            margin-left: 20px;

            ul {
                position:absolute;
                top:30px;
                left:20px;
                display: none;
                list-style: none;
                background-color: white;
                padding:10px 30px;
                width:300px;
                z-index:100;
                li {
                    float: left;
                    margin-bottom: 5px;
                    margin-top:5px;

                } 
            }
        }
        li:nth-child(1){
            /*margin-left:0px;*/
        }


    }
}



ul.tabs{
    list-style: none;
    display:table;
    float:left;
    width:100%;
    height: 30px;
    margin: 0px 0px 10px;
    padding: 0px 0px 10px;
    border-bottom: 2px solid #CCC;
    li{
        display: table-cell;
        height:100%;
        text-align: center;
        vertical-align: middle;
        background: #FAFAFA;
        border-right: 1px solid #CCC;

        a {
            display: block;
            font-weight: 700;
            text-transform: uppercase;
            :hover {
                text-decoration: underline;
            }
        }
    }
    li:last-child {
        border-right: none;
    }
    li.active {
        background-color:greenyellow;
    }

}

div.tab {
    display: none;
    float: left;
    width: 100%;
    padding: 20px;
    background: #FFF;
    border: 1px solid #CCC;
    box-sizing: border-box;

}
div.tab.active{
    display:block;
}
div#coursorDisplay{
    display:block;
}
#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}
.show{
}

#corporate {

    margin-top: 100px;


    .gallery-item {


        float: left;
        max-width:20%;
        height:auto;

        a {
            display:'table';
            width: 100%;
            height: 100px;


            img {
                @include tableCell;
                max-width: 80%;
                max-height: 80px;
            }

        }

        a:hover {
            opacity: 0.7;
        }

    }

}


#owl-example {
    
    margin-top: 100px;
    
    .owl-item {
        
        height: 100px;
        background: #FFF;
        
            .item {
                
                display: table;
                float: left;
                width: 100%;
                height: 100px;
                
                    a {
                        
                        @include tableCell;
                        
                            img {
                                max-width: 80%;
                                max-height: 80px;
                            }
                        
                    }
                    
                    a:hover {
                        opacity: 0.7;
                    }
                
            }
        
    }
    
}